<?xml version="1.0"?>
<model>
  <name>Typhoon H480 Test</name> Name displayed in gazebo
  <version>1.0</version>
  <sdf version="1.5">typhoon_h480_dual.sdf</sdf>
	Name must match with the .sdf file in the folder

  <author>
   <name>Lorenz Meier</name>
   <email>lorenz@px4.io</email>
  </author>

  <description>
    This is a model of the Yuneec Typhoon H480 with mounted Intel Realsense module
  </description>
</model>
